/* mixins */
/* Preloader */
/* line 11, ../sass/main.scss */
#preloader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 18, ../sass/main.scss */
#preloader #loadWave {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 26, ../sass/main.scss */
#preloader .form-control {
  border: 0;
  background: transparent;
}
/* line 30, ../sass/main.scss */
#preloader .logo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  top: 30%;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 39, ../sass/main.scss */
#preloader .logo img {
  width: 300px;
  max-width: 80%;
  height: auto;
  margin: auto;
  -webkit-transition: all all 0.4s;
  -ms-transition: all all 0.4s;
  -moz-transition: all all 0.4s;
  transition: all all 0.4s;
}
/* line 45, ../sass/main.scss */
#preloader .logo img.small {
  width: 200px;
}
/* line 50, ../sass/main.scss */
#preloader .logo .rsvp,
#preloader .logo .copy {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 2s;
  -ms-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}
/* line 54, ../sass/main.scss */
#preloader .logo .rsvp.visible,
#preloader .logo .copy.visible {
  visibility: visible;
  opacity: 1;
}
